.header-nav {
  height: 60px;
  background: #1b1d18; /* fallback for old browsers */
}
.header-wrapper {
  height: 58%;
  display: flex;
  padding-top: 11px;
}
.left-area {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: 40px;
}
.company-name {
  font-family: "inter", "san-serif";
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.user-status {
  font-family: "inter", "san-serif";
  color: #67d875;
}
