* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* user-select: none !important; */
}
.container {
  width: 95%;
  margin: 0 auto;
}
body {
  background-image: url("../public//bgimage.png");
  background-color: #202020;
}
